:root {
    --primary-color:#aaeafe;
    --primary-dark: #010e15;
    --text-color-dark: #ffffff;
    --hover-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
}
    
/* General */
.hero-container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.img-w:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.images img {
    position: relative;
    border-radius: 5px;
}

.images::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 53%;
    top: -9px;
    transform: translateX(-50%);
    border-radius: 5px;
    background: #aaeafe;
}

.images {
    width: 28%;
    margin: auto;
    position: relative;
    opacity: 0;
    animation: imageAni 1s ease forwards;
    animation-delay: 1.5s;
}

.info {
    text-align: center;
    margin-top: 1.5rem;
    animation: fadeIn 2s ease forwards;
}

.info h1 {
    font-size: 2.5rem;
    color: var(--text-color-dark);
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.info p {
    font-size: 1.5rem;
    color: var(--text-color-dark);
    margin-bottom: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    /* margin-top: 2px; */
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.5s;
}

.social a {
    color: var(--text-color-dark);
    font-size: 2rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    transform-origin: center;
}

.social a:hover {
    color: var(--primary-color);
    transform: scale(1.1) translateY(-5%);
}

/* Dark Mode */
.dark-mode {
    background-color: var(--primary-dark);
    color: var(--text-color-dark);
}

.dark-mode .info h1,
.dark-mode .info p,
.dark-mode .social a {
    color: var(--text-color-dark);
}

.dark-mode .social a:hover {
    color: var(--hover-color);
}

.mode input {
    display: none;
}

/* Animation */
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1.2rem;
    }

    .social a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }

    .images {
        width: 60%;
    }

    .info h1 {
        font-size: 1.8rem;
    }

    .info p {
        font-size: 1.1rem;
    }

    .social a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .main {
        margin-top: 2rem;
    }

    .images {
        width: 100%;
    }

    .info h1 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 1rem;
    }

    .social a {
        font-size: 1.2rem;
        margin: 0 0.5rem;
    }
}
